# -----------------------------------------------
# MongoDB configuration:

# Default MongoDB username and password for local development:
MONGODB_USERNAME=root
MONGODB_PASSWORD=root

# Use this if MongoDB is running in the host:
# MONGO_CONNECTION_URL=mongodb://root:root@host.docker.internal:27017/?directConnection=true

# Use this if MongoDB is running in a container:
MONGO_CONNECTION_URL=mongodb://root:root@mongodb/?directConnection=true

# -----------------------------------------------
# Ollama configuration:

# Use this if Ollama is running in the host:
OLLAMA_BASE_URL=http://host.docker.internal:11434

# Use this if Ollama is running in a container:
# OLLAMA_BASE_URL=http://ollama

# -----------------------------------------------

WHISPER_MODEL=small
